<h3>Login Page</h3>
<form #userlogin="ngForm" (ngSubmit)="loginuser()" >
    <!-- Email input -->
    <div class="form-outline mb-4" >
      <input type="email" name="email" id="form2Example1"
      class="form-control" #email="ngModel" [(ngModel)]="user.email"
      required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" />
      
      <label class="form-label" for="form2Example1">Email address</label>
      <small [class.d-none]="email.valid || email.untouched"
             class="text-danger p-2 fw-bold">Email is required and should be valid</small> 
    </div>
  
    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="password"
      name="password" id="form2Example2" class="form-control"
      #pwd="ngModel"
      [(ngModel)]="user.password"
      required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"/>
      
      <label class="form-label" for="form2Example2">Password</label>
      <small [class.d-none]="pwd.valid || pwd.untouched"
             class="text-danger p-2 fw-bold">Must include alphabets, numbers and atleast 8 characters </small>
    </div>
  
    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
      <div class="col d-flex justify-content-center">
        <!-- Checkbox -->
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="form2Example31" unchecked />
          <label class="form-check-label" for="form2Example31"> Remember me </label>
        </div>
      </div>
  
    </div>
  
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4"[disabled]="userlogin.invalid"> Signin </button>
  
 
  </form>